<h1>New Product</h1>

<%= render 'form', product: @product %>

<<<<<<< HEAD
<%= link_to 'Back', products_path %>
=======
<%= link_to 'Back', products_path , class:"btn btn-xs btn-danger" %>
>>>>>>> 647f2c7bdb7619a5243d0216033aa53c81b523bd
